[submodule "platform/core"]
	path = platform/core
	url = git@gitlab.com:workable_packages/platform.git

[submodule "packages/user-tenant"]
	path = packages/user-tenant
	url = git@gitlab.com:vnpgroup.net/vnp_user_tenant.git

[submodule "packages/acl"]
	path = packages/acl
	url = git@gitlab.com:vnpgroup.net/acl.git


