[submodule "platform/core"]
	path = platform/core
	url = git@gitlab.com:workable_packages/platform.git

[submodule "platform/packages/user-tenant"]
	path = platform/packages/user-tenant
	url = git@gitlab.com:vnpgroup.net/vnp_user_tenant.git

[submodule "platform/packages/acl"]
	path = platform/packages/acl
	url = git@gitlab.com:vnpgroup.net/acl.git

[submodule "platform/packages/bank"]
	path = platform/packages/bank
	url = git@gitlab.com:vnpgroup.net/bank.git
